/* HEADER */
.header_2Nj88 {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div_i55ej {
  display: flex;
  align-items: center;
  color: var(--color-letter);
}

.button_8e752p0 {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label_s5nPu {
  cursor: pointer;

  & input {
    display: none;

    &:checked + span::before {
      left: 25px;
    }
  }

  & span {
    background: var(--color-letter);
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 30px;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--color-item);
      transition: left 0.3s ease-in-out;
    }
  }
}

.div_1s0Ru {
  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
}

.div_cyKZQ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  & img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
}

/* NAVIGATE */

.div_y6iL39I {
  background: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(2.5px);
  position: fixed;
  inset: 0;
  display: flex; 
}

.div_ksnt785 {
  position: inherit;
  inset: inherit;
}

.div_RAPYu72 {
  
  position: relative;
  width: min(calc(100% - 80px), 400px);
  height: 100%;
  display: flex;
  flex-direction: column;

  background: var(--color-item);
  animation: translateRight .3s ease;
}

.div_rMd76d0 {
  display: flex;
  align-items: center;
  height: 60px;
  padding-right: 15px;

  color: var(--color-letter);

  & img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
  }

  & div {
    flex: 1;
    display: grid;

    & span {
      font-size: 13px;
    }
  }
}

.nav_sVKUc89 {
  flex: 1;
  display: grid;
}

.button_av6D9xa {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  gap: 20px;

  font-size: 18px;

  display: grid;
  align-items: center;
  grid-template-columns: 20px 1fr;
  text-decoration: none;
  color: var(--color-letter);

  & svg {
    margin: auto;
  }

  & span {
    text-align: left;
  }

  &.focus {
    color: rgb(124, 124, 234);
    & svg {
      fill: rgb(124, 124, 234);
    }
  }
}

/* button_av6D9xa */
